.marker1 {
    background-color: aqua;
}

.hide {
    display: none;
}

red {
  color: red;
}

blue {
  color: mediumblue;
}

grey {
  color: grey;
}

.tableSection {
  background-color: lemonchiffon;
}

.noTop {
  border-top: none;
}

.noBottom {
  border-bottom: none;
  padding-bottom: 0;
}


